*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #141d2f;
    color: #fff;
    height: 100vh;
    display: flex;
}

.container {
    max-width: 780px;
    margin: auto;
    width: 90%;
}

.light-dark {
    text-transform: uppercase;
    letter-spacing: 2px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}


/* ---------- */
/* light theme */
/* ---------- */



/*  layout  */

.dev-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form {
    font-family: 'Space Mono', monospace;
    background: #1e2a47;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    border-radius: 15px;
    color: #fff;
}

form img {
    padding: .5em 1em;
}

input {
   width: 100%;
   background: #1e2a47;
   border: 0;
   color: #fff;
   font-size: 18px;
}

.btn {
    background: #0079ff;
    color: #fff;
    border: 0;
    padding: .5em 1.5em;
    border-radius: 10px;
}

/*  main content  */

.main-content {
    background: #1e2a47;
    margin-top: 2em;
    border-radius: 15px;
    padding: 2em;
    grid-gap: .5em;
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-areas: 
        "image name"
        "bio bio"
        "info info"
        "footerone footerone"
        "footertwo footertwo";
}

.avatar {
    width: 117px;
    grid-area: image;
}

.avatar img {
    border-radius: 50%;
}

.member { grid-area: name;}


.name {
    margin-bottom: 0;
    margin-top: 0;
}

.name-tag {
    color: #0079ff;
}

.bio { grid-area: bio;}

.activity-info {
    grid-area: info;
    display: flex;
    justify-content: space-around;
    background-color: #141d2f;
    border-radius: 10px;
}

.activity-info p {
    margin-bottom: 0;
}

.activity-info h2 {
    margin-top: 0;
}

.links-img {
    margin-right: 1.2em;
}

.location-blog,
.twitter-company {
    display: flex;
    flex-direction: column;
}

.location-blog { grid-area: footerone; }
.twitter-company { grid-area: footertwo;}

.location-blog a { color: #fff; }
.twitter-company a { color: #fff; }

.twitter-company a {
    margin-top: 10px;
}

.location,
.personal-website,
.company,
.twitter {
    margin-bottom: 0;
}

/* ------------------ */
/*  Tablet layout  */
/* ------------------ */


@media (min-width: 560px) {
    .main-content {
        grid-template-columns: 30% auto auto;
        grid-template-areas:
            "image name name"
            "bio bio bio"
            "info info info"
            "footerone . footertwo";
    }
}


/* ------------------ */
/*  desktop layout  */
/* ------------------ */

@media (min-width: 680px) {
    .main-content {
        grid-template-columns: 23% auto auto;
        grid-template-areas: 
            "image name name"
            ". bio bio"
            ". info info"
            ". footerone footertwo";

            align-items: flex-start;
    }

    .member {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .bio {
        margin-top: -45px;
    }
}